@model IEnumerable<CustomerDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                
                <td>
                    
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-action="ViewAccount" asp-route-id="@item.CustomerID">View Account</a>|
                    @if (item.Login.LockState=="L")
                    { 
                        <form asp-action="UnLock">
                        <input type="hidden" name="LoginID" value="@item.Login.LoginID" />
                        <input type="submit" class="btn btn-primary" value="UnLock" />
                        </form>  
                    }else{
                        <form asp-action="Lock">
                        <input type="hidden" name="LoginID" value="@item.Login.LoginID" />
                        <input type="submit" class="btn btn-primary" value="Lock" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


