@using BankApplicationForWeb.Models.ViewModel
@using Microsoft.AspNetCore.Http
@model List<AccountViewModel>
@{
    ViewData["Title"] = "Show Account for MyStateMent";

}
<div>

    <h1 class="display-4">Welcome, @Model[0].CustomerName</h1>

    <h3>Your Accounts</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => Model[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x =>Model[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x =>Model[0].Balance)</th>
            <td></td>
        </tr>
        @foreach (var account in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType) </td>
                <td>$@Html.DisplayFor(x => account.Balance)</td>
                
                <td>
                    <form asp-action="IndexToViewStateMent">
                        <input type="hidden" name="AccountNumber" value="@account.AccountNumber" />
                        <input type="submit" class="btn btn-primary" value="Statement" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
